<div from="Quynh" greet="Audience"></div>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th sorted="objectId">
            Object ID
        </th>
        <th sorted="note">
            Note
        </th>
        <th sorted="priority">
            Priority
        </th>
        <th sorted="due">
            Due
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.objectId}}</td>
            <td>{{item.note}}</td>
            <td>{{item.due.iso | date:'yy/MM/dd @ h:ma'}}</td>
            <td>{{item.priority}}</td>
        </tr>
    </tbody>
</table>